BROKER='CHANGE-ME'
PORT=CHANGE-ME
USER_BROKER='CHANGE-ME'
PASSWORD_BROKER='CHANGE-ME'
TOPICS='#'

SMTP_SERVER='CHANGE-ME'
SMTP_PORT=CHANGE-ME
SMTP_PASSWORD='CHANGE-ME'
SMTP_USERNAME='CHANGE-ME'
SMTP_USE_TLS=True